<div class="outer outer-padding">
    <form [formGroup]="form">

        <p class="centered">Раунд {{ (total$ | async) + 1 }}</p>
        <div class="heroes-box">
            <div class="heroes-box-inner">
                <div
                    class="hero-image nerzhul"
                >
                    <div class="hp-indicator">
                        <div class="hp-current"></div>
                    </div>
                    <div class="hero-name">
                        {{ (userCharacter$ | async) === names.NERZHUL ? '(вы)' : '(CPU)' }}
                        {{ names.NERZHUL }}
                    </div>
                </div>
                <div
                    class="hero-image guldan"
                >
                    <div class="hp-indicator">
                        <div class="hp-current"></div>
                    </div>
                    <div class="hero-name">
                        {{ (userCharacter$ | async) === names.GULDAN ? '(вы)' : '(CPU)' }}
                        {{ names.GULDAN }}
                    </div>
                </div>
                <div class="hero-data nerzhul">
                    <div class="parameter hp">HP: {{ calculatedProps[names.NERZHUL].hp | round:2 }}</div>
                    <div class="parameter dps">DPS:  {{ calculatedProps[names.NERZHUL].dps | round:2 }}</div>
                    <div class="parameter crit">Crit:  {{ calculatedProps[names.NERZHUL].crit * 100 | round:2 }}%</div>
                </div>
                <div class="hero-data guldan">
                    <div class="parameter hp">HP: {{ calculatedProps[names.GULDAN].hp | round:2 }}</div>
                    <div class="parameter dps">DPS:  {{ calculatedProps[names.GULDAN].dps | round:2 }}</div>
                    <div class="parameter crit">Crit:  {{ calculatedProps[names.GULDAN].crit * 100 | round:2 }}% </div>
                </div>
            </div>
        </div>

        <p class="centered">
            <button
                mat-raised-button
                color="accent"
                (click)="turnRound()"
            >
                Сделать ход
            </button>
        </p>

    </form>
</div>
