<div class="outer outer-padding">
    <form [formGroup]="form">

        <p class="centered">Раунд {{ turnNumber }}</p>
        <div class="heroes-box">
            <div class="heroes-box-inner" *ngIf="(playerCharacter$ | async) && (cpuCharacter$ | async)">
                <app-character-card
                    [character]="(playerCharacter$ | async)"
                    [party]="'Вы'"
                >
                    <div class="attack-console">
                        <form [formGroup]="form">
                            <app-attack
                                formControlName="playerAttacksControl"
                                [attackVectors]="attackService.playersAvailableAttackVectors"
                                [allEntities]="allEntities"
                                [playerCharacter]="playerCharacter$ | async"
                            ></app-attack>
                        </form>
                    </div>
                </app-character-card>
                <app-character-card
                    [character]="(cpuCharacter$ | async)"
                    [party]="'CPU'"
                ></app-character-card>
                <div class="hero-data nerzhul">
                    <div class="parameter hp">
                        HP: {{ (playerCharacter$ | async).currentData.hp | round:2 }} / {{ (playerCharacter$ | async).inheritedData.hp | round:2 }}
                    </div>
                    <div class="parameter dps">DPS:  {{ (playerCharacter$ | async).currentData.dps | round:2 }}</div>
                    <div class="parameter crit">Crit:  {{ (playerCharacter$ | async).currentData.crit * 100 | round:2 }}%</div>
                </div>
                <div class="hero-data guldan">
                    <div class="parameter hp">
                        HP: {{ (cpuCharacter$ | async).currentData.hp | round:2 }} / {{ (cpuCharacter$ | async).inheritedData.hp | round:2 }}
                    </div>
                    <div class="parameter dps">DPS:  {{ (cpuCharacter$ | async).currentData.dps | round:2 }}</div>
                    <div class="parameter crit">Crit:  {{ (cpuCharacter$ | async).currentData.crit * 100 | round:2 }}% </div>
                </div>
            </div>
        </div>

        <p class="centered">
            <button
                mat-raised-button
                color="accent"
                (click)="turnRound()"
                [disabled]="!playerAttack"
            >
                Сделать ход
            </button>
        </p>
    </form>
</div>
